{% extends 'app_levil_barra/base.html' %}

{% block contenido %}

{% load static %}

<link rel="stylesheet" href="{% static 'app_levil_barra/css/productos.css' %}">

<title>ProductosUp - GrupoCero</title>

    <div class="contenido">
        <div class="container2">
            <h1>Actualizar Producto</h1>
            <form action="{% url 'actualizarrec' pro.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_nombre">Nombre</label><br><br>
                <input type="text" name="nombre" id="id_nombre" value="{{ pro.nombre }}" required><br>
                {% if form.errors.nombre %}
                    <p>{{ form.errors.nombre }}</p>
                {% endif %}<br>
                <label for="id_descripcion">Descripción</label><br><br>
                <input type="text" name="descripcion" id="id_descripcion" value="{{ pro.descripcion }}" required><br>
                {% if form.errors.descripcion %}
                    <p>{{ form.errors.descripcion }}</p>
                {% endif %}<br>
                <label for="id_precio">Precio</label><br><br>
                <input type="text" name="precio" id="id_precio" value="{{ pro.precio }}" required pattern="[0-9]+"><br>
                {% if form.errors.precio %}
                    <p>{{ form.errors.precio }}</p>
                {% endif %}<br>
                <label for="id_imagen">Imagen</label><br><br>
                {% if pro.imagen %}
                    <img src="{{ pro.imagen.url }}" alt="Imagen actual">
                {% endif %}
                <input type="file" name="imagen" id="id_imagen"><br><br>
                <button type="submit" id="new1">Actualizar</button>
            </form>
        </div>
    </div>

{% endblock %}