{% extends 'app_levil_barra/base.html' %}

{% block contenido %}

{% load static %}

<link rel="stylesheet" href="{% static 'app_levil_barra/css/galeria.css' %}">

<title>Galeria - GrupoCero</title>
 
    <div class="contenido">

        <div class="galeria">
            <div class="titulo">
                <div class="center">
                    Galeria Grupo Cero<hr>
                </div>
            </div>
        </div>

        <div class="center">

            <ul>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/escultura1.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Escultura Estilo Griego</h3>
                                <p>La escultura es la manifestación artística en la que más destacaron los Artegriegos. El tema que más repitieron fue el del cuerpo humano, que sirvió para representar a héroes, divinidades y mortales.</p>
                                <p>TIEMPO DE CREACION: 17 HORAS</p>
                                <p></p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/orfebreria.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Pendientes de oro</h3>
                                <p>Hermoso trabajo hecho por artesanos reconocidos por su calidad en los detalles</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/tejido.png' %}" alt="">
                            <div class="capa">
                                <h3>Atrapasueños hecho a mano</h3>
                                <p>Hermosa pieza hecha a mano. Algunas personas le otorgan propiedades mágicas relacionadas con los sueños, y los usan como amuleto o talismán de protección. La palabra, como tal, procede del inglés dreamcatcher o dream catcher, de allí que en español también se lo conozca como “cazador de sueños”.</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/escultura2.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Escultura abstracta de metal</h3>
                                <p>Escultura abstracta es la realizada según las convenciones del arte abstracto; es la escultura no figurativa.</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/orfebreria2.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Joya Estilo Egipcia</h3>
                                <p>Estas creaciones extraordinarias e insólitas son muy codiciadas en la actualidad entre los coleccionistas y aficionados de las joyas.</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/tejido2.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Tejido hecho a mano</h3>
                                <p>Tejido artesanal es aquel que no se crea de una forma industrial ni en serie. Es creado de forma manual y exclusivo, normalmente en casa o en pequeños locales</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/dibujo.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Halcon a Puntillismo</h3>
                                <p>El puntillismo es una técnica artística que consiste en hacer una obra mediante el uso de diminutos puntos</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/patagonia.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Araucarias en la Patagonia</h3>
                                <p>Es una especie arbórea endémica del distrito del Pehuén de los bosques subantárticos, en el extremo noroeste de la Patagonia</p>
                            </div>
                        </figure>
                    </div>
                </li>
                <li>
                    <div class="contenedor">
                        <figure>
                            <img src="{% static 'app_levil_barra/imagenes/retrato.jpg' %}" alt="">
                            <div class="capa">
                                <h3>Retrato a color de una imagen antigua</h3>
                                <p>Recreación al oleo de una imagen o retrato de antaño</p>
                            </div>
                        </figure>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>

{% endblock %}